.app {
  background-color: #dddbd1;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__body {
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: #ededed;
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
}
